In [1]:
import pandas as pd
import numpy as np

In [2]:
dataframe = pd.read_csv('datasets/data.csv')
dataframe

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
506,0.98765,0.0,12.50,0,0.561,6.980,89.0,2.0980,3,320,23.0,396.00,12.00,12.0
507,0.23456,0.0,12.50,0,0.561,6.980,76.0,2.6540,3,320,23.0,343.00,25.00,32.0
508,0.44433,0.0,12.50,0,0.561,6.123,98.0,2.9870,3,320,23.0,343.00,21.00,54.0
509,0.77763,0.0,12.70,0,0.561,6.222,34.0,2.5430,3,329,23.0,343.00,76.00,67.0
510,0.65432,0.0,12.80,0,0.561,6.760,67.0,2.9870,3,345,23.0,321.00,45.00,24.0

In [6]:
dataframe.isnull().values.any()

True

In [8]:
dataframe.isnull().sum().sum()

5

In [14]:
for column in dataframe.columns:
    print(column, end=' - ')
    print(dataframe[column].isnull().values.any(), end=': ')
    print(dataframe[column].isnull().sum())
    print('\n')

CRIM - False: 0


ZN - False: 0


INDUS - False: 0


CHAS - False: 0


NOX - False: 0


RM - True: 5


AGE - False: 0


DIS - False: 0


RAD - False: 0


TAX - False: 0


PTRATIO - False: 0


B - False: 0


LSTAT - False: 0


MEDV - False: 0

In [17]:
dataframe.dropna(inplace=True)
dataframe

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
506,0.98765,0.0,12.50,0,0.561,6.980,89.0,2.0980,3,320,23.0,396.00,12.00,12.0
507,0.23456,0.0,12.50,0,0.561,6.980,76.0,2.6540,3,320,23.0,343.00,25.00,32.0
508,0.44433,0.0,12.50,0,0.561,6.123,98.0,2.9870,3,320,23.0,343.00,21.00,54.0
509,0.77763,0.0,12.70,0,0.561,6.222,34.0,2.5430,3,329,23.0,343.00,76.00,67.0
510,0.65432,0.0,12.80,0,0.561,6.760,67.0,2.9870,3,345,23.0,321.00,45.00,24.0

In [19]:
dataframe.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.617404,11.289526,11.174842,0.069170,0.555209,6.287589,68.555731,3.775231,9.531621,408.330040,18.498419,356.228379,12.872569,22.711858
std,8.600123,23.325350,6.824592,0.253994,0.115611,0.703802,28.161573,2.096147,8.716661,168.382685,2.202078,91.253462,7.823528,9.520520
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082268,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.098500,4.000000,280.250000,17.400000,374.687500,6.950000,17.025000
50%,0.266005,0.000000,9.690000,0.000000,0.538000,6.209000,77.500000,3.122200,5.000000,330.000000,19.100000,391.260000,11.465000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.629750,93.975000,5.117675,24.000000,666.000000,20.200000,396.210000,17.107500,25.075000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,23.000000,396.900000,76.000000,67.000000

In [75]:
x = dataframe[dataframe.columns[:-1]].values
y = dataframe[dataframe.columns[-1]].values

x_train = x[:406].copy()
x_test = x[406:].copy()

y_train = y[:406].copy()
y_test = y[406:].copy()

In [76]:
from sklearn.linear_model import LinearRegression

In [77]:
model = LinearRegression()

In [78]:
model.fit(x_train, y_train)

LinearRegression()

In [79]:
model.score(x_test, y_test)

-0.9309617207013292

In [37]:
normal = dataframe.copy()

In [40]:
normal['ZN'] = (normal['ZN']-normal['ZN'].min())/(normal['ZN'].max()-normal['ZN'].min())
normal['ZN'].describe()

count    506.000000
mean       0.112895
std        0.233253
min        0.000000
25%        0.000000
50%        0.000000
75%        0.125000
max        1.000000
Name: ZN, dtype: float64

In [41]:
normal['CRIM'] = (normal['CRIM'])/(100)
normal['CRIM'].describe()

count    506.000000
mean       0.036174
std        0.086001
min        0.000063
25%        0.000823
50%        0.002660
75%        0.036771
max        0.889762
Name: CRIM, dtype: float64

In [80]:
model2 = LinearRegression()

In [81]:
x = normal[normal.columns[:-1]].values
y = normal[normal.columns[-1]].values

x_train = x[:406].copy()
x_test = x[406:].copy()

y_train = y[:406].copy()
y_test = y[406:].copy()

In [82]:
model2.fit(x_train, y_train)
model2.score(x_test, y_test)

-0.9309617207013332

In [83]:
normal['RM'] = (normal['RM'])/(10)
normal['RM'].describe()

count    506.000000
mean       0.006288
std        0.000704
min        0.003561
25%        0.005886
50%        0.006209
75%        0.006630
max        0.008780
Name: RM, dtype: float64

In [84]:
normal['AGE'] = (normal['AGE'])/(100)
normal['AGE'].describe()

count    506.000000
mean       0.006856
std        0.002816
min        0.000290
25%        0.004503
50%        0.007750
75%        0.009397
max        0.010000
Name: AGE, dtype: float64

In [85]:
normal['TAX'] = (normal['TAX'])/(1000)
normal['TAX'].describe()

count    506.000000
mean       0.000408
std        0.000168
min        0.000187
25%        0.000280
50%        0.000330
75%        0.000666
max        0.000711
Name: TAX, dtype: float64

In [86]:
normal['B'] = (normal['B'])/(500)
normal['B'].describe()

count    506.000000
mean       0.001425
std        0.000365
min        0.000001
25%        0.001499
50%        0.001565
75%        0.001585
max        0.001588
Name: B, dtype: float64

In [87]:
normal['LSTAT'] = (normal['LSTAT'])/(100)
normal['LSTAT'].describe()

count    506.000000
mean       0.001287
std        0.000782
min        0.000173
25%        0.000695
50%        0.001146
75%        0.001711
max        0.007600
Name: LSTAT, dtype: float64

In [88]:
normal['PTRATIO'] = (normal['PTRATIO'])/(100)
normal['PTRATIO'].describe()

count    506.00000
mean       0.00185
std        0.00022
min        0.00126
25%        0.00174
50%        0.00191
75%        0.00202
max        0.00230
Name: PTRATIO, dtype: float64

In [89]:
normal.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.00000,506.000000,506.000000,506.000000
mean,0.036174,0.112895,0.372495,0.069170,0.555209,0.006288,0.006856,0.251682,0.317721,0.000408,0.00185,0.001425,0.001287,22.711858
std,0.086001,0.233253,0.227486,0.253994,0.115611,0.000704,0.002816,0.139743,0.290555,0.000168,0.00022,0.000365,0.000782,9.520520
min,0.000063,0.000000,0.015333,0.000000,0.385000,0.003561,0.000290,0.075307,0.033333,0.000187,0.00126,0.000001,0.000173,5.000000
25%,0.000823,0.000000,0.173000,0.000000,0.449000,0.005886,0.004503,0.139900,0.133333,0.000280,0.00174,0.001499,0.000695,17.025000
50%,0.002660,0.000000,0.323000,0.000000,0.538000,0.006209,0.007750,0.208147,0.166667,0.000330,0.00191,0.001565,0.001146,21.200000
75%,0.036771,0.125000,0.603333,0.000000,0.624000,0.006630,0.009397,0.341178,0.800000,0.000666,0.00202,0.001585,0.001711,25.075000
max,0.889762,1.000000,0.924667,1.000000,0.871000,0.008780,0.010000,0.808433,0.800000,0.000711,0.00230,0.001588,0.007600,67.000000

In [90]:
normal['RAD'] = (normal['RAD'])/(30)
normal['RAD'].describe()

count    506.000000
mean       0.010591
std        0.009685
min        0.001111
25%        0.004444
50%        0.005556
75%        0.026667
max        0.026667
Name: RAD, dtype: float64

In [91]:
normal['DIS'] = (normal['DIS'])/(15)
normal['DIS'].describe()

count    506.000000
mean       0.016779
std        0.009316
min        0.005020
25%        0.009327
50%        0.013876
75%        0.022745
max        0.053896
Name: DIS, dtype: float64

In [92]:
normal['INDUS'] = (normal['INDUS'])/(30)
normal['INDUS'].describe()

count    506.000000
mean       0.012416
std        0.007583
min        0.000511
25%        0.005767
50%        0.010767
75%        0.020111
max        0.030822
Name: INDUS, dtype: float64

In [93]:
normal.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.00000,506.000000,506.000000,506.000000
mean,0.036174,0.112895,0.012416,0.069170,0.555209,0.006288,0.006856,0.016779,0.010591,0.000408,0.00185,0.001425,0.001287,22.711858
std,0.086001,0.233253,0.007583,0.253994,0.115611,0.000704,0.002816,0.009316,0.009685,0.000168,0.00022,0.000365,0.000782,9.520520
min,0.000063,0.000000,0.000511,0.000000,0.385000,0.003561,0.000290,0.005020,0.001111,0.000187,0.00126,0.000001,0.000173,5.000000
25%,0.000823,0.000000,0.005767,0.000000,0.449000,0.005886,0.004503,0.009327,0.004444,0.000280,0.00174,0.001499,0.000695,17.025000
50%,0.002660,0.000000,0.010767,0.000000,0.538000,0.006209,0.007750,0.013876,0.005556,0.000330,0.00191,0.001565,0.001146,21.200000
75%,0.036771,0.125000,0.020111,0.000000,0.624000,0.006630,0.009397,0.022745,0.026667,0.000666,0.00202,0.001585,0.001711,25.075000
max,0.889762,1.000000,0.030822,1.000000,0.871000,0.008780,0.010000,0.053896,0.026667,0.000711,0.00230,0.001588,0.007600,67.000000

In [94]:
model2.fit(x_train, y_train)
model2.score(x_test, y_test)

-0.9309617207013332